body{
  font-family: 'RixInooAriDuriR', sans-serif;
}

.styleLeft{
  background-color:white;
  height:100vh;
}

.styleRight{
  background-color:yellow;
  height:100vh;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.15);
}

.styleRight:hover{
  background-color:lightgray;
  height:100vh;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.15);
}

.text-between-divs {
  font-size:large;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  z-index: 1; 
  font-family: 'RixInooAriDuriR', sans-serif;
  color:white;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
}

#title {
  font-size:4rem;
}

#LeftFirst{
  position: absolute;
  top: 15%;
}

#company{
  top: 35%;
  position: absolute;
}

#acumulated{
  top: 55%;
  position: absolute;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  text-align: center;
}

.overlined {
  position: relative;
  font-size:35px;
}

.overlined::before {
  content: "";
  position: absolute;
  left: 10px;
  top: -10px;
  width: 60px; /* 라인의 길이를 조절합니다 */
  border-top: 6px solid rgb(163, 197, 8); /* 라인의 색상 및 두께를 조절합니다 */
}

.overlined_next {
  font-size:25px;
  line-height:1.5;
}


@keyframes ldio-dmfz9u7de6s {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-dmfz9u7de6s div {
  left: 48.410000000000004px;
  top: 24.72px;
  position: absolute;
  animation: ldio-dmfz9u7de6s linear 1s infinite;
  background: #f2bc39;
  width: 6.18px;
  height: 12.36px;
  border-radius: 3.09px / 6.18px;
  transform-origin: 3.09px 26.78px;
}.ldio-dmfz9u7de6s div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #f2bc39;
}.ldio-dmfz9u7de6s div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #f2bc39;
}.ldio-dmfz9u7de6s div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #f2bc39;
}.ldio-dmfz9u7de6s div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #f2bc39;
}.ldio-dmfz9u7de6s div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #f2bc39;
}.ldio-dmfz9u7de6s div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #f2bc39;
}.ldio-dmfz9u7de6s div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #f2bc39;
}.ldio-dmfz9u7de6s div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #f2bc39;
}.ldio-dmfz9u7de6s div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #f2bc39;
}.ldio-dmfz9u7de6s div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #f2bc39;
}.ldio-dmfz9u7de6s div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #f2bc39;
}.ldio-dmfz9u7de6s div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #f2bc39;
}
.loadingio-spinner-spinner-u6m31m85v5d {
  width: 103px;
  height: 103px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-dmfz9u7de6s {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dmfz9u7de6s div { box-sizing: content-box; }
/* generated by https://loading.io/ */

@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'RixInooAriDuriR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
  font-weight: bold;
  font-style: bold;
}


#companyTable{
  font-size:32px;
}